*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab

# نتائج البناء
app/build/
app/release/

# ملفات المستخدم الخاصة بـ Android Studio
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
backup_before_ic_phone/
*.bak
*.bak2
